@charset "UTF-8";
/* v0.1 */
:root {
  --theme: "light";
  --accent-color: #3c8dcf;
  --a: 25px;
  --b: 45%;

  --ab-blue: #0d6efd;
  --ab-indigo: #6610f2;
  --ab-purple: #6f42c1;
  --ab-pink: #d63384;
  --ab-red: #dc3545;
  --ab-orange: #fd7e14;
  --ab-yellow: #ffc107;
  --ab-green: #198754;
  --ab-teal: #20c997;
  --ab-cyan: #0dcaf0;
  --ab-white: #fff;
  --ab-gray: #6c757d;
  --ab-gray-dark: #343a40;
  --ab-gray-100: #f8f9fa;
  --ab-gray-200: #e9ecef;
  --ab-gray-300: #dee2e6;
  --ab-gray-400: #ced4da;
  --ab-gray-500: #adb5bd;
  --ab-gray-600: #6c757d;
  --ab-gray-700: #495057;
  --ab-gray-800: #343a40;
  --ab-gray-900: #212529;
  --ab-primary: #0d6efd;
  --ab-secondary: #6c757d;
  --ab-success: #198754;
  --ab-info: #0dcaf0;
  --ab-warning: #ffc107;
  --ab-danger: #dc3545;
  --ab-light: #f8f9fa;
  --ab-dark: #212529;
  --ab-primary-rgb: 13, 110, 253;
  --ab-secondary-rgb: 108, 117, 125;
  --ab-success-rgb: 25, 135, 84;
  --ab-info-rgb: 13, 202, 240;
  --ab-warning-rgb: 255, 193, 7;
  --ab-danger-rgb: 220, 53, 69;
  --ab-light-rgb: 248, 249, 250;
  --ab-dark-rgb: 33, 37, 41;
  --ab-white-rgb: 255, 255, 255;
  --ab-black-rgb: 0, 0, 0;
  --ab-body-color-rgb: 33, 37, 41;
  --ab-body-bg-rgb: 255, 255, 255;
  --ab-font-sans-serif: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --ab-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --ab-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --ab-body-font-family: var(--ab-font-sans-serif);
  --ab-body-font-size: 1rem;
  --ab-body-font-weight: 400;
  --ab-body-line-height: 1.5;
  --ab-body-color: #212529;
  --ab-body-bg: #f0f0f0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  display: flow-root;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}
hr:not([size]) {
  height: 1px;
}
h6,h5,h4,h3,h2,h1{
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1{
  font-size: calc(1.375rem + 1.5vw);
}
@media (min-width: 1200px) {
  h1{
    font-size: 2.5rem;
  }
}
h2{
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  h2{
    font-size: 2rem;
  }
}
h3{
  font-size: calc(1.3rem + 0.6vw);
}
@media (min-width: 1200px) {
  h3{
    font-size: 1.75rem;
  }
}
h4{
  font-size: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  h4{
    font-size: 1.5rem;
  }
}
h5{
  font-size: 1.25rem;
}
h6{
  font-size: 1rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
abbr[title],
abbr[data-bs-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted currentColor;
          text-decoration: underline dotted currentColor;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
ol,
ul {
  padding-left: 2rem;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
dt {
  font-weight: 700;
}
dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1rem;
}
b,
strong {
  font-weight: bolder;
}
small,
.small {
  font-size: 0.875em;
}
mark,
.mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}
sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
a {
  color: #0d6efd;
  text-decoration: underline;
}
a:hover {
  color: #0a58ca;
}
a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}
pre,
code,
kbd,
samp {
  font-family: var(--bs-font-monospace);
  font-size: 1em;
  direction: ltr * //* rtl:ignore */;
  unicode-bidi: bidi-override;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}
code {
  font-size: 0.875em;
  color: #d63384;
  word-wrap: break-word;
}
a > code {
  color: inherit;
}
kbd {
  padding: 0.2rem 0.4rem;
  font-size: 0.875em;
  color: #fff;
  background-color: #212529;
  border-radius: 0.2rem;
}
kbd kbd {
  padding: 0;
  font-size: 1em;
  font-weight: 700;
}
figure {
  margin: 0 0 1rem;
}
img,
svg {
  vertical-align: middle;
}
table {
  caption-side: bottom;
  border-collapse: collapse;
}
caption {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #6c757d;
  text-align: left;
}
th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}
thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
label {
  display: inline-block;
}
button {
  border-radius: 0;
}
button:focus:not(.focus-visible) {
  outline: 0;
}
button:focus:not(:focus-visible) {
  outline: 0;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
select {
  text-transform: none;
}
[role="button"] {
  cursor: pointer;
}
select {
  word-wrap: normal;
}
select:disabled {
  opacity: 1;
}
[list]::-webkit-calendar-picker-indicator {
  display: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}
::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
textarea {
  resize: vertical;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  padding: 0;
}
::-webkit-inner-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-color-swatch-wrapper {
  padding: 0;
}
::file-selector-button {
  font: inherit;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
iframe {
  border: 0;
}
summary {
  display: list-item;
  cursor: pointer;
}
progress {
  vertical-align: baseline;
}
[hidden] {
  display: none !important;
}
.contain {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.weird-calculation {
  width: calc(25px + 45%);
  width: calc(var(--a) + var(--b));
  height: calc(100vh - 45%);
  height: calc(100vh - var(--b));
  border: 1px solid #3c8dcf;
  border: 1px solid var(--accent-color);
  background-color: #ddd;
}
.bt {
  border: 1px solid transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.66rem;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0px rgba(0,0,0,0.12157);
}
.bt.bt-primary {
  border-color: #3c8dcf;
  border-color: var(--accent-color);
  color: #3c8dcf;
  color: var(--accent-color);
}
.bt.bt-primary :hover {
    background-color: #3c8dcf;
    background-color: var(--accent-color);
    color:#fff;
  }