/* style.css v0.1 ** partial files from css/partials are imported into css/main.css which is then converted into style.css */
:root {
    --theme: 'light';
    --accent-color: #3c8dcf;

}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.contain {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.bt {
  border: 1px solid transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.66rem;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0px rgba(0,0,0,0.12157);
}
.bt.bt-primary {
  border-color: #3c8dcf;
  border-color: var(--accent-color);
  color: #3c8dcf;
  color: var(--accent-color);
}
.bt.bt-primary :hover {
    background-color: #3c8dcf;
    background-color: var(--accent-color);
    color:#fff;
  }