.bt {
  border: 1px solid transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.66rem;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0px #0000001f;
}

.bt.bt-primary {
  border-color: var(--accent-color);
  color: var(--accent-color);
  & :hover {
    background-color: var(--accent-color);
    color:#fff;
  }
}

